<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- ===================== -->
    <!-- Environment-safe log path -->
    <!-- ===================== -->
    <property name="LOGS" value="${LOG_PATH:-./logs}" />

    <!-- ===================== -->
    <!-- Console Appender -->
    <!-- ===================== -->
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %green(%d{HH:mm:ss.SSS}) %blue(%-5level) %red([%thread]) %yellow(%logger{15}) - %magenta([traceId=%X{traceId} spanId=%X{spanId}]) - %cyan(%msg%n)
            </pattern>
        </encoder>
    </appender>

    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
    </appender>

    <!-- ===================== -->
    <!-- Rolling File Appender -->
    <!-- ===================== -->
    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOGS}/jobportal.log</file>

        <encoder>
            <pattern>
                {"timestamp":"%d{yyyy-MM-dd HH:mm:ss}","level":"%p","logger":"%c","message":"%m"}
            </pattern>
        </encoder>

        <!-- Modern rolling policy (size + time based) -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOGS}/archived/jobportal-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <springProfile name="prod">
        <!-- ===================== -->
        <!-- Root Logger -->
        <!-- ===================== -->
        <root level="ERROR">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="OTEL"/>
        </root>
        <!-- ===================== -->
        <!-- Application-specific ERROR logs -->
        <!-- ===================== -->
        <logger name="com.eazybytes.jobportal"
                level="ERROR"
                additivity="false">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="OTEL"/>
        </logger>
    </springProfile>

    <springProfile name="qa">
        <!-- ===================== -->
        <!-- Root Logger -->
        <!-- ===================== -->
        <root level="INFO">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="OTEL"/>
        </root>
        <!-- ===================== -->
        <!-- Application-specific ERROR logs -->
        <!-- ===================== -->
        <logger name="com.eazybytes.jobportal"
                level="INFO"
                additivity="false">
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="OTEL"/>
        </logger>
    </springProfile>

    <springProfile name="default">
        <!-- ===================== -->
        <!-- Root Logger -->
        <!-- ===================== -->
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="OTEL"/>
        </root>
        <!-- ===================== -->
        <!-- Application-specific ERROR logs -->
        <!-- ===================== -->
        <logger name="com.eazybytes.jobportal"
                level="INFO"
                additivity="false">
            <appender-ref ref="Console"/>
            <appender-ref ref="RollingFile"/>
            <appender-ref ref="OTEL"/>
        </logger>
    </springProfile>


</configuration>
